
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0px;
  padding:0px;
  box-sizing:border-box;
  font-family:'Roboto';
}

body{
  min-height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
  overflow:scroll;
}

/* <------------------------------------------- ADVERTISEMENT ------------------------------------>*/

.advert-div-01, .advert-div-02, .advert-div-03, .advert-div-04 {
  height:100vh;
  width: 100%;
  position: absolute;  
  left: 0;
  top: 0;
}


.advert-div-01 img{
  width :100%;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  opacity: 90%;
}

.advert-div-02 img{
  width :100%;
  height: 120%;
  position: absolute;
  overflow: none;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  opacity: 60%;
}

.advert-div-03 img{
  width : 100%;
  height: 120%;
  position: absolute;
  overflow: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 70%;
}

.advert-div-04 img{
  width :100%;
  position: absolute;
  overflow: none;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  opacity: 70%;
}

/*<------------------------------------------- ADVERTISEMENT TEXT ---------------------------------->*/

.advert-text01 {
  font-family:'IBM Plex Serif';
  width: 600px;
  position: absolute;
  bottom:200px;
  left:420px;
  color:#fff;
}
.advert-text02 {
  font-family:'IBM Plex Serif';
  width: 600px;
  position: absolute;
  bottom:60px;
  left:100px;
  color:#fff;
}

.advert-text03 {
  font-family: 'IBM Plex Serif';
  width: 600px;
  position: absolute;
  bottom:60px;
  left:100px;
  color:#fff;
}

.advert-text04 {
  font-family: 'IBM Plex Serif';
  width: 600px;
  position: absolute;
  bottom:60px;
  left:100px;
  color:#fff;
}


.advert-text01 h1{
  font-size: 35px;
}

.advert-text01, .advert-text02, .advert-text03, .advert-text04 {
  margin-bottom: 40px;
}

.advert-text01 p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 50px;
}

.advert-text02 p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 50px;
}

.advert-text03 p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 50px;
}

.advert-text04 p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 50px;
}


.advert-text01 span {
  background: White;
  height:2px;
  width:300px;
  position: absolute;
}
.advert-text02 span {
  background: #e20404;
  height:2px;
  width:100px;
  position: absolute;
}
.advert-text03 span {
  background: rgb(79, 171, 233);
  height:2px;
  width:100px;
  position: absolute;
}
.advert-text04 span {
  background: Black;
  height:2px;
  width:100px;
  position: absolute;
}


/*<---------------------------------------- ADVERTISEMENT ANIMATION ------------------------------> */
.advert-div-01 {
  animation: slide1 20s linear infinite;
}

.advert-div-02 {
  animation: slide2 20s linear infinite;
}

.advert-div-03 {
  animation: slide3 20s linear infinite;
}

.advert-div-04 {
  animation: slide4 20s linear infinite;
}

@keyframes slide1 {
  0%, 20% { opacity: 1; visibility: visible; }
  25%, 100% { opacity: 0; visibility: hidden; }
}

@keyframes slide2 {
  0%, 25% { opacity: 0; visibility: hidden; }
  30%, 50% { opacity: 1; visibility: visible; }
  55%, 100% { opacity: 0; visibility: hidden; }
}

@keyframes slide4 {
  0%, 55% { opacity: 0; visibility: hidden; }
  60%, 80% { opacity: 1; visibility: visible; }
  85%, 100% { opacity: 0; visibility: hidden; }
}

@keyframes slide3 {
  0%, 85% { opacity: 0; visibility: hidden; }
  90%, 100% { opacity: 1; visibility: visible; }
}

/*<-------------------------------------------------HEADER -------------------------------------------> */
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding:5px 100px;
background: rgba(255, 255, 255, .1);
display: flex;
justify-content: space-between;
align-items:center ;
backdrop-filter: blur(10px);
border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before{
content: '';
position: absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background: linear-gradient( 90deg, transparent, rgba(255, 255, 255, .4), transparent);
transition: .5s;
}

.header:hover::before{
  left:100%;
}
/*<--------------------------------------------- NAVBAR ---------------------------------------------------------->*/
.logo{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  cursor: default;
}

.navbar a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover{
  color: rgb(40, 157, 235);
}
/*<---------------------------------------- ARTICLE SECTION ------------------------------------------------------->*/

#blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:100%;
  top:697px;
  border-top: 2px solid 3d393d;
  background-color: rgb(184, 183, 183);
}
/*<-----------------------------------------------HEADING ----------------------------------------------------->*/
.blog-heading{
  background-color: #000;
  padding:15px 570px;
}

.blog-heading h3{
  font-size: 2.5rem;
  color:#b8b7b7;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2.4rem;
}

.blog-box-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1050px;
  width: 90%;
  margin-top: 50px;
}

.blog-box{
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

.blog-box:hover {
  background-color: #ffffff;
  box-shadow: 16px 20px 50px rgba(0, 0, 0, 0.12);
}
/*<-------------------------------------------------- ARTICLE IMAGES --------------------------------------------->*/
.blog-box-img{
  width: 100%;
  height:100%;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.blog-box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.3s;
}

.blog-img-link{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color:#252525;
  box-shadow: 2px 2px 30px rgba(20, 97, 212,0.12);
  animation: fade 0.3s;
}

.blog-img-link{
  visibility: hidden;
}

.blog-img-link:hover {
  visibility: visible;
}
.blog-box:hover, .blog-box-img a{
  display: flex ;
}

.blog-box:hover .blog-box-img img{
  filter: blur(3px);
}

@keyframes fade{
  0%{
      opacity:0;
  }
  100%{
      opacity: 1;
  }
}
/*<-------------------------------------------------------- ARTICLE TEXT -------------------------------------------------->*/
.blog-box-text{
  display: flex;
  flex-direction: column;
  padding:30px 10px 20px 10px;
}

.blog-box-text strong, .blog-box-text p{
  color:#797979;
  font-size: 0.9rem;
  font-weight: 400;
}

.blog-box-text a{
  font-size: 1.4rem;
  color: #252525;
  font-weight: 800;
  line-height: 1.8rem;
  margin: 5px 0px 10px 0px;

}

.blog-box-text p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.blog-author-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.blog-author-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-author-text{
  display: flex;
  flex-direction: column;
}

.blog-author-text strong{
  color:#252525;
  font-weight:800;
}

.blog-author-text span{
  color:#797979;
  font-size:0.8rem;
  font-weight: 500;
}


/*<------------------------------------------------------- FOOTER -----------------------------------------------------> */
footer {
  width: 100%;
  position: absolute;
  top:1400px;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color:#fff;
  padding:100px 0 30px;
  font-size:17px;
  line-height:20px;
  }

  .footer-row{
      width:85%;
      margin:auto;
      display:flex;
      flex-wrap:wrap;
      align-items:flex-start;
      justify-content:space-between;
  }
  
  .footer-col{
      flex-basis:25%;
      padding: 10px;
  }
  
  .footer-col:nth-child(2), .col:nth-child(3){
      flex-basis: 15%;
  }
  .footer-logo{
      margin-bottom:30px;
  }
  
  .footer-col h3{
      width: fit-content;
      margin-bottom:40px ;
      position: relative;
  }
  .footer-email-id{
      width:fit-content;
      margin:20px 0;
  
  }
  
  ul li{
      list-style:none ;
      margin-bottom: 12px;
  }
  
  ul li a{
      text-decoration: none;
      color:#fff;
  }
  
  form{
      padding-bottom: 15px;
      display: flex;
      align-items:center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
  }
  
  form .bx{
      font-size: 10px;
      margin-right: 10px;
  }
  
  form input{
      width:100%;
      background: transparent;
      color:#ccc;
      border: 0;
      outline: none;
  }
  
  form button{
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
  }
  
  form button .bx{
      font-size: 20px;
      color:#ffffff;
  }
  
  .social-icons .bx {
      width:40px;
      height:40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;
  }
  
  hr{
      width:90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin:20px auto;
  }
  
  .copyright{
      text-align: center;
  }
  
  .footer-underline{
      width: 100%;
      height:1px;
      background: #767676;
      border-radius: 3px;
      position: absolute;
      top:25px;
      left:0px;
  }
  .footer-underline span{
      height: 100%;
      background:#fff ;
      border-radius: 3px;
      position: absolute;
      top:0;
      left:10px;
  }

  /*<-------------------------------------------- RESPONSIVE  SETTINGS ------------------------------------------------->*/
/* 
@media screen and (max-width:1920px){
  .blog-heading
  {
    padding:15px 570px;
  }
  footer 
  {
    top:1320px;
  }
}
@media screen and (max-width:1280px){
  #blog
  {
    width:85%;
  }
  .blog-heading
  {
    padding: 15px 538px;
  }
  footer 
  {
    font-size: 11px;
    padding: 0px 30px;
  }
}

@media screen and (max-width:1320px), (min-width:1279px){
  #blog{
    top:650px;
  }
  blog-heading
  {
    padding:15px 560px;
  }
  .header
  {
    padding: 5px 85px 0px 100px;
  }
  footer
  {
    font-size: 16px;
  }
} */

/* @media screen and (max-width:375px){
  .header 
  {
    width:66%;
  }
  .advert-div-01
  {
    width:66%;
  }
  .advert-div-02
  {
    width:275%;
  }
  .advert-div-03
  {
    width:275%;
  }
  .advert-div-04
  {
    width:275%;
  }

  .advert-div-04 img
  {
    height: 120%;
  }

  .advert-div-01 img
  {
    overflow: none;
    width:200%;
    height: 120%;
    left:500px;
  }
  .advert-div-01 img
  {
    width: 250vw;    
    height: 100vh;
  }

  .advert-text01
  {
    left:250px;
  }

  #blog
  { 
    top:732px;
    width:265%;
  }
  .blog-heading{
    padding: 60px 400px;
  }
} */

/* For screens smaller than 375px */
@media screen and (max-width: 375px) {
  body {
    font-size: 14px; /* Adjust font size for better readability */
  }

  .header {
    padding: 5px 20px; /* Adjust header padding */
  }

  .advert-div-01,
  .advert-div-02,
  .advert-div-03,
  .advert-div-04 {
    height: 50vh; /* Adjust height of advertisement sections */
  }

  .advert-text01,
  .advert-text02,
  .advert-text03,
  .advert-text04 {
    top:190px;
    width: 90%; /* Adjust width of advertisement text */
    left: 5%; /* Center advertisement text */
  }

  .advert-text01 p,
  .advert-text02 p,
  .advert-text03 p,
  .advert-text04 p{
    margin: 25px;
    font-size: 13px;;
  }

  .advert-div-01 img{
    top:195px;
    width:175%;
  }

  .advert-div-02 img{
    width: 145%;
  }

  .blog-box{
    flex-direction:column;
  }
  footer{
    top:1915px;
  }
  .footer-row {
    width: 100%; /* Make footer row full width */
    flex-wrap: wrap; /* Wrap footer columns */
    justify-content: center; /* Center footer content */
  }

  .footer-col {
    flex-basis: 90%; /* Adjust width of footer columns */
    margin-bottom: 20px; /* Add space between footer columns */
  }

  .footer-col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 90%; /* Adjust width of specific footer columns */
  }

  .footer-col h3 {
    margin-bottom: 20px; /* Adjust margin of footer headings */
  }

  .footer-email-id {
    margin: 10px 0; /* Adjust margin of email in footer */
  }

  form {
    margin-bottom: 20px; /* Adjust margin of form in footer */
  }

  form .bx {
    font-size: 8px; /* Adjust size of icon in form */
  }

  .social-icons .bx {
    width: 30px; /* Adjust size of social icons */
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-right: 10px; /* Adjust margin between social icons */
  }

  hr {
    margin: 10px auto; /* Adjust margin of horizontal rule */
  }

  .copyright {
    margin-bottom: 20px; /* Adjust margin of copyright text */
  }

  @media screen and (max-width: 375px) {
    #blog {
      top: 368px; /* Remove absolute positioning */
      padding-top: 20px; /* Adjust padding for better spacing */
    }
    
    .blog-heading {
      padding: 15px 20px; /* Adjust padding for better spacing */
    }
  
    .blog-box-container {
      grid-template-columns: 1fr; /* Set grid to single column */
      max-width: 100%; /* Adjust maximum width */
      padding: 0 10px; /* Add padding for better spacing */
    }
  
    .blog-box {
      margin-bottom: 20px; /* Add margin between blog boxes */
    }
    
    .blog-box-img {
      max-height: auto; /* Allow image height to adjust */
    }
  
    .blog-box-text {
      padding: 20px; /* Adjust padding for better spacing */
    }
  }
  
}
